---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { useTranslations } from "@/i18n";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const t = useTranslations(Astro.currentLocale);
const currentYear = new Date().getFullYear();
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>&#169; {currentYear} 陳景泰</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>
        <a href="https://line.me/ti/p/sky811117" class="hover:text-accent"
          >LINE sky811117</a
        >
      </span>
    </div>
  </div>
  <div
    class="text-muted-foreground border-border border-t py-3 text-center text-xs leading-relaxed"
  >
    <p>一品不動產 有巢氏房屋 台中世界之心加盟店</p>
    <p>
      經紀人 黃永隆 113彰縣字324 ・ 營業員 陳景泰 114登字488296 ・ 0920-118-756
    </p>
  </div>
</footer>
